# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore build files
dist/
build/

# Ignore environment config
.env
.env.local

# Ignore OS/IDE files
.DS_Store
*.log
.vscode/
